<header class="header">
	<div class="header-container">
		<div class="description">Ethan J. Jackson</div>
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/index.html">home</a>
				</li>
			</span>
			{% else %}
				<li>
					<a href="/index.html">home</a>
				</li>
			{% endif %}
			{% if page.path == "contact.html" %}
			<span class="title">
				<li>
					<a href="/contact.html">contact</a>
				</li>
			</span>
			{% else %}
				<li>
					<a href="/contact.html">contact</a>
				</li>
			{% endif %}
				<li>
					<a href="/Ethan_J_Jackson_CV.pdf">CV</a>
				</li>
		</div>
	</div>
</header>
