<header class="header">
	<div class="header-container">
		<div class="description">Ethan J. Jackson</div>
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
                                <a href="{{ site.baseurl }}/index.html">home</a>
				</li>
			</span>
			{% else %}
				<li>
					<a href="{{ site.baseurl }}/index.html">home</a>
				</li>
			{% endif %}
				<li>
					<a href="{{ site.baseurl }}/Ethan_J_Jackson_CV.pdf">CV</a>
				</li>
			{% if page.path == "students.html" %}
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/students.html">students</a>
				</li>
			</span>
			{% else %}
				<li>
					<a href="{{ site.baseurl }}/students.html">students</a>
				</li>
			{% endif %}
			{% if page.path == "contact.html" %}
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/contact.html">contact</a>
				</li>
			</span>
			{% else %}
				<li>
					<a href="{{ site.baseurl }}/contact.html">contact</a>
				</li>
			{% endif %}
		</div>
	</div>
</header>
